{% for itm in play_hosts  %}
{{ hostvars[itm]['ansible_hostname'] }} {{ hostvars[itm].selected_option.user_input }} Pass{% if hostvars[itm].ansible_os_family == "RedHat" or hostvars[itm].ansible_os_family == "Debian" or hostvars[itm].ansible_os_family == "Suse" %} {% if hostvars[itm].st_linux_dir.stat.exists == False %} apmia directory not present/corrupted APMIA installed at path ({{ path_linux }}){{ "\n" }} {% else %} {{ hostvars[itm].outp_linux.stdout|replace("\n", "")|to_nice_json }}{{ "\n" }} {% endif %} {% else %} {% if hostvars[itm].st_win_dir.stat.exists == False %} apmia directory not present/Corrupted APMIA installed at path ({{ path_win }}){{ "\n" }} {% else %} {{ hostvars[itm].outp_win.stdout|replace("\n", "")|to_nice_json }}{{ "\n" }} {% endif %} {% endif %}
{% endfor %}
